<template>
  <div class="main">
    <h1>Trivia Game</h1>
    <input class="amount" type="number" v-model="amount" min="1" max="50" placeholder="How many questions?" >
    <br>
    <input class="alternative" type="radio" id="1" value="easy" v-model="difficulty">
    <label for="1">Easy</label>
    <input class="alternative" type="radio" id="2" value="medium" v-model="difficulty">
    <label for="2">Medium</label>
    <input class="alternative" type="radio" id="3" value="hard" v-model="difficulty">
    <label for="3">Hard</label>
    <br>
    <select class="selectCategory" v-model="selectedCategory">
        <option disabled value="">Choose a category</option>
c      <option v-for="category in sharedState.categories" v-bind:value="{id: category.id}" :key="category.id" :category="category">{{category.name}}</option>
    </select>
    <br>
    <button type="button" class="btn" @click="onClickHandler(amount, selectedCategory, difficulty)">Play</button>
  </div>


</template>

<script>
import {store } from '@/store'

export default {
  name: 'StartPage',

  /**
   * The data in this component
   * */
  data() {

    return {
      amount: '',
      difficulty: '',
      selectedCategory: '',
      error: '',
      sharedState: store.state }
  },
  /**
   * When the component is created it calls the function getCategories in store, to populate the select.
   * */
  created() {
    store.getCategories().catch(e => {
      this.error = e.message
    })
  },

  methods: {

    /**
     * This method is called when the user click the play button. If the form is not completed, a message will be shown,
     * telling the user to will in all the information.
     * The method getQuestions in store is called before the user is directed to the question page.
     * This is an async method that waits for all the questions to be fetched before rendering the
     * next page.*/
    async onClickHandler(amount, selectedCategory, difficulty){
      if(amount === '' || selectedCategory === '' || difficulty === ''){
        window.alert("Please complete form")
        return
      }

      await store.getQuestions(amount, selectedCategory.id, difficulty).catch(e => {
        this.error = e.message
      })

    return this.$router.push(`/trivia-game`);
    }

  }

}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main{
  padding-top: 3em;
  justify-content: center;
}

h1{
  justify-content: center;
  margin-bottom: 1em;
}

.btn{
  color: black;
  background-color: #79a3ec;
  text-align: center;
  margin: 2em;
  padding: 1.5em;
  border-style: none;
  border-radius: 1em;
  justify-content: center;
  font-family: montserrat, sans-serif;
}

.amount{
  margin-bottom: 2em;
  width: 13em;
  padding: 0.3em;
  justify-content: center;
  font-family: montserrat, sans-serif;
}

.alternative{
  margin-left: 2em;
  display: inline-flex;
  justify-content: center;
}

.selectCategory{
  margin: 2em;
  padding: 0.3em;
  border-radius: 2px;
  border-color: #454444;
  justify-content: center;
  font-family: montserrat, sans-serif;
}
</style>
