<template>
  <div class="main">
    <button class="btn" v-if="index < 0" type="button" @click="nextQuestion()">Start Game</button>
    <section class="questionSection" v-if="this.index >= 0 && this.index < this.sharedState.questions.length">
      <h2 v-html="this.question.question"></h2>
      <div class="alternativeSection">
        <input type="radio" id="1" value="0" v-model="answer">
        <label class="alternative" v-html="this.answerAlternatives[0]" for="1"></label>
        <input type="radio" id="2" value="1" v-model="answer">
        <label class="alternative" v-html="this.answerAlternatives[1]" for="2"></label>
        <input v-if="this.question.type === 'multiple'" type="radio" id="3" value="2" v-model="answer">
        <label class="alternative" v-html="this.answerAlternatives[2]" for="3"></label>
        <input v-if="this.question.type === 'multiple'" type="radio" id="4" value="3" v-model="answer">
        <label class="alternative" v-html="this.answerAlternatives[3]" for="4"></label>
      </div>
    </section>
    <button class="btn" v-if="this.index < this.sharedState.questions.length-1 && this.index >= 0" type="button" @click="nextQuestion()">Next Question</button>
    <button class="btn" type="button" v-if="this.index === sharedState.questions.length-1" @click="getResults()">
      Submit answers
    </button>
  </div>
</template>

<script>
import {store} from '@/store'

export default {
  name: "TriviaGamePage",

  /**
   * The data in this component
   * */
  data() {
    return {
      error: '',
      index: 0, //endret her
      sharedState: store.state,
      question: {
        category: '',
        type: '',
        difficulty: '',
        question: '',
        correct_answer: '',
        incorrect_answers: []
      },
      answerAlternatives: [],
      answer: '',
      resultObject: {
        correct: false,
        questionText: '',
        userAnswer: '',
        correctAnswer: ''
      }
    }
  },
  methods: {
    /**
     * This function is called when the user clicks start game or the next question button. If the user clicks
     * the start button the checkCorrectAnswer method will not be called. If the user has not answered the question,
     * he will be asked to choose an alternative before continuing.
     * The next question is displayed to the user.
     * All the alternatives are pushed to an array. The array is sorted alphabetically, to
     * avoid displaying the correct answer in the same spot of each question.
     * */
    nextQuestion() {
      if (this.answer === '') {
        window.alert("Please select an alternative")
        return
      }
      this.checkCorrectAnswer()
      this.index++;
      this.question = this.sharedState.questions[this.index]
      this.generateAnswerAlternatives()
      this.answer = ''
    },
    generateAnswerAlternatives() {
      this.answerAlternatives = []
      this.answerAlternatives = this.question.incorrect_answers
      this.answerAlternatives.push(this.question.correct_answer)
      this.answerAlternatives.sort()
    },
    /**
     * This checks if the user has answered correct or not. A result object containing if the answer was correct, question text,
     * the correct answer and the answer of the user is pushed to the results list in store.
     * */
    checkCorrectAnswer() {
      this.resultObject = {}
      if (this.answerAlternatives[this.answer] === this.question.correct_answer) {
        this.resultObject.correct = true;
      } else {
        this.resultObject.correct = false;
      }
      this.resultObject.questionText = this.question.question
      this.resultObject.correctAnswer = this.question.correct_answer
      this.resultObject.userAnswer = this.answerAlternatives[this.answer]
      store.state.results.push(this.resultObject)
    },
    /**
     * This method is called when the 'submit answers'-button is clicked. It calls the method checkCorrectAnswer for
     * the last question and directs the user to the results page.
     * */
    getResults(){
      this.checkCorrectAnswer()
      return this.$router.push(`/result-page`);
    },
  },
  /**
   * This method is called when the component is created. It sets this.question to the first question
   * from the questions list (from the store)
   * */
  created() {
    this.question = this.sharedState.questions[0]
    this.generateAnswerAlternatives()
  }
}
</script>

<style scoped>

.main{
  padding-top: 3em;
  justify-content: center;
}

h2{
  margin: 1.5em;
  justify-content: center;
}


.btn{
  color: black;
  background-color: #79a3ec;
  text-align: center;
  margin: 3em;
  padding: 1.5em;
  border-style: none;
  border-radius: 1em;
  justify-content: center;
  font-family: montserrat, sans-serif;

}

.alternative{
  margin: 0.3em;
  padding-right: 1.5em;
  justify-content: center;
}

.alternativeSection{
  display: inline-block;
  justify-content: center;
}


</style>