<template>
<div >
  <h2>Results</h2>
  <h3>Score: {{this.numberOfCorrectAnswers}}/{{sharedState.results.length*10}}</h3>
  <p v-if="this.numberOfCorrectAnswers === sharedState.results.length*10">
    Great job! You answered all of the questions correct 👏👏
  </p>
  <p v-if="this.numberOfCorrectAnswers === 0">
    Oh, shit! Everything was wrong 🤡
  </p>
  <section v-for="result in sharedState.results" :key="result.question">
    <h4 v-html="'Question: ' + result.questionText"></h4>
    <p class="greenFont" v-if="result.correct" v-html="'You answered: ' + result.userAnswer"></p>
    <p class="redFont" v-else v-html="'You answered: ' + result.userAnswer"></p>
    <p v-html="'Correct answer: ' + result.correctAnswer"></p>
  </section>
  <button class="btn" type="button" @click="restartGame()">Restart Trivia Game</button>
</div>
</template>

<script>
import {store} from "@/store";

export default {
  name: "ResultPage",

  /**
   * The data in this component
   * */
  data() {
    return {
      sharedState: store.state,
      numberOfCorrectAnswers: 0
    }
  },
  /**
   * This method is called when the component is created. It calls on the method
   * calculateScore().
   * */
  created() {
    this.calculateScore()
  },
  methods: {
    /**
     * This method calculates the score, based on how many questions the user answered correct.
     * We iterate through the results-list and extract the result.correct. If it is true
     * we update the numberOfCorrectAnswers with 10 points. Then we return the numberOfCorrect-
     * Answers.
     * */
    calculateScore() {
      this.numberOfCorrectAnswers = 0
      for(let i = 0; i < store.state.results.length; i++) {
        let result = store.state.results[i]
        if(result.correct){
          this.numberOfCorrectAnswers+=10
        }
      }
      return this.numberOfCorrectAnswers
    },
    /**
     * This method is called when the 'restart game' button is clicked. It empties the results list,
     * and renders the start-page.
     * */
    restartGame(){
      store.state.results = []
      return this.$router.push(`/start-page`);
    }
  }
}
</script>

<style scoped>
.btn{
  color: black;
  background-color: #79a3ec;
  text-align: center;
  margin: 2em;
  padding: 1em;
  border-style: none;
  border-radius: 1em;
}

.redFont{
  color: #d7163e;
}
.greenFont{
  color: #379b74;
}

.alternativeSection{
  display: flex;
  justify-content: center;
}

</style>